.videos-container{
  background: yellow;
  text-align: center;
}
.videos-container h1 {
  font-family: 'Abel', sans-serif;
  font-size: 2.8em;
  color: #3588CC;
  letter-spacing: 7px;
}
.divbtn {
  font-family: 'Abel', sans-serif;
}
.twovideos{
  display: flex;
  justify-content: center;
}
.first{
  margin-right: 20px;
}

@media screen and (max-width: 900px){
  .twovideos{
    display: block;
  }
  iframe{
    width: 400px;
    max-width: 90%;
  }
  .first{
    margin-right: 0;
  }
}

.divbtn{
  width: 200px;
  padding: 12px;
  display: inline-block;
  box-sizing: border-box;
  background-color:red;
  cursor: pointer;
  color:white;
  margin-top: 20px;
  margin-bottom: 20px;
}
.divbtn:hover{
  background-color: blue;
  transition: background-color 0.5s;
} 


/* .videos-container {
    width: 100%;
    height: 600px;
    background-color:yellow;
    margin-bottom: -50px;
  }
  
  .second{
    margin-left:50px;
    
  }
  .first{
    margin-left:160px;
  }
  .h1{
    font-family: 'Abel', sans-serif;    
    letter-spacing: 0.15em;
    color: #3588CC;
    margin-bottom: 50px;
    
  }
  .container{
    position:relative
  }

  .divbtn{
    width: 200px;
    padding: 12px;
    display: inline-block;
    box-sizing: border-box;
    background-color:red;
    cursor: pointer;
    position: absolute;
    top:500px;
    left:50%;
    text-align: center;
    color:white;
    margin-left:-100px;
    
    
  }
  .divbtn:hover{
    background-color: blue;
    transition: background-color 0.5s;
  } */

/* 
  @media screen and (max-width: 892px) {
    .divbtn{
      position: absolute;
       top : 790px;
       left:50%;
       margin-left:-75px;
       width:150px;
       background-color:black
  
    }
  }


  @media screen and (max-width: 892px) {
    .first{
      position: absolute;
      top : 15%;
      left:50%;
      margin-left:-150px;
      width:300px;
  
    }
  }

  @media screen and (max-width: 892px) {
    .second{
      position: absolute;
      top : 55%;
      left:50%;
      margin-left:-150px;
      width:300px;  
    }
  } */
 
