.PhotoSection{
    background-color: lightgray;

    widows: 1500px;
}
.Photos{
    margin:0 auto;
    width:100%;
    height:500px ;

}
.photo{
    background-position: center center;
    background-size:cover;
    background-repeat:no-repeat;
    transition: all .3s ease-out;

}

img.photos{
    position: relative ;
    width: auto ;
    height: auto;
}
.photo{
    cursor: pointer;
}
.photo:hover{
    opacity:0.1;
    margin-bottom:9px;
}

.image-gallery-slide img{
    height: 500px;
    width: auto !important;
}
 .image-gallery-image{
    text-align: center;
    background: lightgray;
}
.image-gallery-thumbnails{
    background: lightgray;
} 