.background-video{
    right: 0; 
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto; 
    
    background-size: cover;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
  
  }

  .video-size video{
    width:100%;
    height:100%
  }

  .videobtn{
    width: 200px;
    padding: 12px;
    display: inline-block;
    box-sizing: border-box;
    background-color:red;
    cursor: pointer;
    position: absolute;
    top:1000px;
    left:50%;
    text-align: center;
    color:white;
    margin-left:-100px
    
    
  }
  .videobtn:hover{
    background-color: blue;
    transition: background-color 0.5s;
  }
 
  @media screen and (max-width: 350px) {
    .background-video{
        height:250px
    }
}
@media screen and (max-width: 350px) {
  .videobtn{
    position: absolute;
     top : 80%;
     left:50%;
     margin-left:-75px;
     width:150px;

  }
}
